

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }

.flying-goat-logo{
  height: 180px;
  margin: auto;
  display: block;
  }

  .navbar{
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Forum, serif;
    font-size: 30px;
  }

  .navbar-nav{
      display: flex;
      justify-content: center;
      position: relative;
      margin: auto;
      width: 100%;
      left: 0;
  }

  .item{
    height: 400px;
    margin: auto;

  }
  .item .next {
    width: 80%;
    }
